<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam Bem vindes ao meu blog!</h1>
        </div>
    </div>
    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Quam ex repudiandae obcaecati beatae assumenda iure ipsum similique, minus, officia quaerat deserunt architecto minima soluta dolorem quae aut? Enim, quam magni?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                In voluptatum recusandae dolorem amet libero. Ex atque earum explicabo commodi nobis repellendus ea aspernatur. Ipsam fugiat obcaecati facere dicta quidem. Enim.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Nemo asperiores assumenda placeat ipsa, amet explicabo corporis quo? Tempora, mollitia sunt! Maxime incidunt error expedita aliquid architecto reprehenderit, ad nemo doloribus.

            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>
    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold" [routerLink]="['/feed']" routerLinkActive="router-link-active" >Ver o feed</button>
        </div>
    </div>