.parallax{
    background-image: url('../../assets/img/pawel-czerwinski-vFFi_RZ0Kow-unsplash.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}