<div class="container-fluid d-flex justify-content-center bg-footer mb-5">
  <nav class="navbar navbar-expand-lg navbar-light ">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link text-monospace texto text-uppercase font-weight-bold p-3 text-light" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home <span class="sr-only">(página atual)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-monospace texto text-uppercase font-weight-bold p-3 text-light" [routerLink]="['/feed']" routerLinkActive="router-link-active" >Feed</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
