<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="../../assets/img/photo4963029955902548081.jpg" alt="Imagem de capa do card">
    </div>
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Luana Carolina</h5>
      <p class="card-text text-center text-monospace">Desenvolvedora Web</p>
      <a href="https://www.linkedin.com/in/luana-carolinaramos/" class="d-flex justify-content-center btn btn-outline-info mb-3"  target="_blank">Linkedin</a>
      <a href="https://github.com/luanacarolina" class="d-flex justify-content-center btn btn-outline-dark mb-3" target="_blank">Github</a>
    </div>
  </div>